<%= form_with(model: punch, remote: true, class: "my-3") do |form| %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :punch_at %>
  <%= form.hidden_field :punch_type, value: "start_break" %>
  <button class="btn btn-warning btn-block"><i class="fas fa-utensils"></i> Start Break</button>
<% end %>