$keypad-button-size: 5rem;
$button-font-factor: 2.5;

.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }

body {
  padding-top: 4rem;
  &.no-nav {
    height: 100vh;
    padding-top: 0 !important;
  }
}

.navbar {
  img {
    height: 3rem;
  }
  .current-timestamp {
    font-size: 200%;
    font-weight: 100;
    &.phone-timestamp {
      font-size: 150% !important;
    }
  }
}

h1 {
  font-size: 2rem !important;
  font-weight: 200 !important;
  line-height: 1 !important;
  padding: 0 !important;
}

.keypad-button {
  width: $keypad-button-size;
  height: $keypad-button-size;
  font-size: $keypad-button-size / $button-font-factor !important;
  padding: 0 !important;
  text-align: center !important;
  line-height: $button-font-factor !important;
  border-radius: 100% !important;
  font-weight: 700 !important;
}

.form-control[readonly] {
  background-color: #fff !important;
}

.bg-on-break {
  color: #856404;
  background-color: #fff3cd !important;
}
.bg-remote-in {
  color: #004085;
  background-color: #cce5ff !important;
}

.nowrap {
  white-space: nowrap !important;
}