<h1 class="my-3">Add New Reason Code</h1>

<%= render 'form', reason_code: @reason_code %>

<p><%= link_to "<i class=\"fas fa-angle-double-left\"></i> Back".html_safe, reason_codes_path, class: ["btn", "btn-sm", "btn-default"] %></p>