<p><%= punches.first.period.description %>:</p>

<% if punches.blank? %>

  <p class="small text-muted font-italic">You don't have any records for the <%= punches.first.period.description %>.</p>

<% else %>

  <div class="row">
    <div class="col-12 col-last col-lg-9 col-lg-first">

      <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center w-10">Day</th>
            <th class="text-center w-10">Date</th>
            <th class="text-center w-10">Time</th>
            <th class="text-center w-10">Type</th>
            <th class="text-left w-20">Edited?</th>
            <th class="text-left">Notes</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "punch", collection: punches %>
        </tbody>
      </table>
      
    </div>
    <div class="col-12 col-first col-lg-3 col-lg-last">
      <%= render partial: "calculator", object: calculator %>
    </div>
  </div>

<% end %>