<div class="d-flex flex-row align-items-center justify-content-left my-3">
  <h1 class="m-0">
    <span><small class="font-weight-light">#<%= @user.employee_number %></small> <%= @user.name %></span>
  </h1>
</div>

<p class="font-weight-bold">Timeclock History</p>

<p><%= link_to "<i class=\"fas fa-angle-double-left\"></i> Back".html_safe, users_path, class: ["btn", "btn-sm", "btn-default"] %></p>
