<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light fixed-top">
  <%= image_tag "logo_dark.svg", class: "navbar-brand" %>
  <div class="d-flex flex-row align-items-center justify-content-right ml-auto">
    <span class="current-timestamp">@timestamp</span>
  </div>
</nav>