<div class="col-12">
  <div class="row">
    <div class="col-12 d-flex flex-row justify-content-center align-items-center">
      <button data-key="1" class="btn btn-info keypad-button">1</button>
      <button data-key="2" class="btn btn-info keypad-button mx-3">2</button>
      <button data-key="3" class="btn btn-info keypad-button">3</button>
    </div>
    <div class="col-12 d-flex flex-row justify-content-center align-items-center mt-3">
      <button data-key="4" class="btn btn-info keypad-button">4</button>
      <button data-key="5" class="btn btn-info keypad-button mx-3">5</button>
      <button data-key="6" class="btn btn-info keypad-button">6</button>
    </div>
    <div class="col-12 d-flex flex-row justify-content-center align-items-center mt-3">
      <button data-key="7" class="btn btn-info keypad-button">7</button>
      <button data-key="8" class="btn btn-info keypad-button mx-3">8</button>
      <button data-key="9" class="btn btn-info keypad-button">9</button>
    </div>
    <div class="col-12 d-flex flex-row justify-content-center align-items-center mt-3">
      <button data-key="del" class="btn btn-warning keypad-button"><i class="fas fa-backspace"></i></button>
      <button data-key="0" class="btn btn-info keypad-button mx-3">0</button>
      <button data-key="enter" class="btn btn-success keypad-button"><i class="fas fa-check"></i></button>
    </div>
  </div>
</div>