<p>Your time card for <%= description %>:</p>

<% if punches.blank? %>

  <p class="small text-muted font-italic">You don't have any records for <%= description %>.</p>

<% else %>

  <div class="row">
    <div class="col-12 col-last col-lg-9 col-lg-first">

      <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Day</th>
            <th class="text-center">Date</th>
            <th class="text-center">Time</th>
            <th class="text-center">Type</th>
            <th class="text-left">Edited?</th>
            <th class="text-left">Notes</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "punch", collection: punches %>
        </tbody>
      </table>
      
    </div>
    <div class="col-12 col-first col-lg-3 col-lg-last">
      <%= render partial: "calculator", object: calculator %>
    </div>
  </div>

<% end %>