<h1 class="my-3">Varland Timeclock</h1>

<% if @punches.blank? && @last_week_punches.blank? %>

  <p>You don't have any records for the current week or last week.</p>

<% else %>

  <%= render partial: "week", locals: { punches: @punches, description: "this week", calculator: @current_week_hours } %>
  <%= render partial: "week", locals: { punches: @last_week_punches, description: "last week", calculator: @last_week_hours } %>

<% end %>